<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet/less" type="text/css" href="./css/styles.less" />
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="js/core.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <h1>Retro</h1>
    </nav>

    <main>
        <div class="depth">Test</div>

        <button id="test" class="depth">Test requests</button>
    </main>


    <script>less = { env: 'development'};</script>
    <script src="js/external/less.min.js"></script>
    <script>less.watch();</script>
</body>
</html>